<%= form_for(pet_photo) do |f| %>
  <% if pet_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet_photo.errors.count, "error") %> prohibited this pet_photo from being saved:</h2>

      <ul>
      <% pet_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :adoption_pet_id %>
    <%= f.text_field :adoption_pet_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
